@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';

.green-1{
    background-color: #00B050;
    color: white;
}

.green{
    color:#00B050;
}

.red-1{
    background-color: #FF5050;
    color: white;
}

.blue-1{
    background-color: #00B0F0;
    color: white;
}

.yellow-1{
    background-color: #EEB500;
    color: white;
}

.panel-options{
    padding: 20px;
    padding-left:20px;
    padding-top:10px;
    height: 60px;
    }

.custom-panel-header{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 5px;
    padding-left:20px;
}

.body-green-1{
    background-color: white;
}

.white{
    color:white;
}

.right{
    text-align: right;
    float: right;
}

.icon-button{
    width: 20px;
    height: 20px;
    font-size: 40px;
    padding: 10px;
    margin-right:20px;
}

.icon-button-header{
    font-size: 20px;
    padding: 10px;
    margin-right:10px;
}

 .bottom { 
     margin-bottom:7px; 
     margin:7px;
     margin-top:30%;
}

h1 span.glyphicon{
    font-size: 15px;
}

.btn-sq-lg {
    padding: 8px;
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.dashboard-button
{
    padding: 10px;
    font-size:24px;
}

.btn.btn-sq-lg
{
    margin: 5px;
}

a:hover{
    color: #EDFAC1;
}