<div class="panel full-invisible with-scroll tree-panel" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
      <a href="" class="white" ng-click="openEventDevicesAdd()"><span class="glyphicon glyphicon-plus"></span> Add Devices</a>
    </div>
    <a href="" ng-click="closeEventDevices()" class="right icon-button-header white"><i class="ion-ios-arrow-back"></i></a>
    <div class="custom-panel-header">
      <h1>3 Devices</h1>

    </div>
  </div>


  <div class="panel-body body-green-1">
    <div class="row">
      <div class="col-md-12">
        <p>Devices registered with event</p>
        <table class="table table-hover">
          <thead>
            <tr class="black-muted-bg">
              <th>Device</th>
              <th class="align-right">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in metricsTableData" class="no-top-border">
              <td ng-class="nowrap">{{item.device}}</td>
              <td class="align-right">{{item.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>