<span us-spinner loading></span>
<div class="panel full-invisible with-scroll tree-panel" zoom-in>
	<div class="{{theme.color}}-1">
		<div class="panel-options">
			<a href="" class="white" ng-click="toggleGraph()"><span class="ion-toggle"></span> {{graphStateOption}}</a>

		</div>
		<div class="custom-panel-header">
			<a href="" ng-click="closeStats()" class="right icon-button-header white"><i class="ion-ios-arrow-back"></i></a>
			<h1>Session Stats</h1>
		</div>
	</div>
	<div class="panel-body body-green-1">
		<div class="row" ng-if="graphState=='Line'">
			<div ng-if="!eventlabels || eventlabels.length==0">
				<p>
					{{statsStatus}}
				</p>
			</div>
			<canvas id="line" class="chart chart-line" chart-data="eventStatsData" chart-labels="eventlabels" chart-legend="false" chart-series="eventseries"
				chart-click="changeData"></canvas>
			<div ng-if="eventlabels.length>0">
				<rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
			</div>
		</div>
		<div class="row" ng-if="graphState=='Spider'">
			<div ng-if="!eventlabels || eventlabels.length==0">
				<p>
					{{statsStatus}}
				</p>
			</div>
			<canvas id="radar" class="chart chart-radar" chart-data="spiderData" chart-options="spiderOptions" chart-labels="spiderLabels">
			</canvas>
			<div ng-if="eventlabels.length>0">
				<rzslider rz-slider-model="spiderSlider.value" rz-slider-options="spiderSlider.options" rz-slider-onchange="onSpiderSliderChange()"></rzslider>
			</div>
		</div>
		<div class="row">
			<nvd3-scatter-chart data="exampleData" id="exampleId" width="550" height="400" yAxisTickFormat="yAxisTickFormatFunction()"
				xAxisTickFormat="xAxisTickFormatFunction()">
				<svg></svg>
			</nvd3-scatter-chart>
		</div>
		<button type="button" class="btn btn-success" data-toggle="modal" ng-click="open('/videoModal.html', 'lg')">
          Video
        </button>
	</div>
</div>