<div class="panel full-invisible with-scroll tree-panel" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
      <a href="" class="white" ng-click="refreshDeviceList()"><span class="glyphicon glyphicon-refresh"></span>  Refresh</a>      
      <a href="" class="white right" ng-click="updateDevices()"><span class="glyphicon glyphicon-floppy-disk"></span>  Update</a>
    </div>
    <div class="custom-panel-header">
      <h1>Device List</h1>
    </div>
  </div>
  <div class="panel-body body-green-1">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr class="black-muted-bg">
            <th>Device</th>
            <th class="align-right">Status</th>
            <th class="align-right">Event</th>
            <th class="align-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in deviceList" class="no-top-border">
            <td ng-class="nowrap">{{item.DeviceID}}</td>
            <td class="align-right">{{item.Status}}</td>
            <td class="align-right">{{item.EventRefId}}</td>
            <td class="align-right" ng-click="sendCommand(item)">
              <div ng-if="item.EventRefId!=null">
                <switch color="primary" ng-model="item.isRunning"></switch>
              </div>
              <div ng-if="item.EventRefId==null">
                <a href="" ng-click="addDeviceToEvent(item)"><span class="glyphicon glyphicon-plus"></span></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>