<div class="panel full-invisible with-scroll tree-panel" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
    </div>
    <div class="custom-panel-header">
      <h1>Device List</h1>
    </div>
  </div>
  <div class="panel-body body-green-1">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr class="black-muted-bg">
            <th>Device</th>
            <th class="align-right">Status</th>
            <th class="align-right">Event</th>
            <th class="align-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in metricsTableData" class="no-top-border">
            <td ng-class="nowrap">{{item.device}}</td>
            <td class="align-right">{{item.status}}</td>
            <td class="align-right">{{item.event}}</td>
            <td class="align-right">
              <div ng-if="item.event!='-'">
                <switch color="primary" ng-model="item.isRunning"></switch>
              </div>
              <div ng-if="item.event=='-'">
                <a href="" ng-click="addDeviceToEvent()"><span class="glyphicon glyphicon-plus"></span></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>