<div class="panel full-invisible with-scroll tree-panel" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
      <a href="" class="white" ng-click="addEventPage()">
        <span class="glyphicon glyphicon-plus"></span> Add
      </a>
      <a href="" class="white right" ng-click="removeEvent()">
        <span class="glyphicon glyphicon-remove"></span> Remove
      </a>
    </div>
    <div class="custom-panel-header">
      <h1>Event List</h1>
    </div>
  </div>
  <div class="panel-body body-green-1">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr class="black-muted-bg">
            <th>Event</th>
            <th class="align-right">Start</th>
            <th class="align-right">End</th>
            <th class="align-right">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in metricsTableData" class="no-top-border" ng-click="onEventItemClick(item)">
            <td ng-class="nowrap">{{item.EventName}}</td>
            <td class="align-right">{{item.StartDateTime}}</td>
            <td class="align-right">{{item.EndDateTime}}</td>
            <td class="align-right">{{item.Status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>