<div class="panel full-invisible tree-panel" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
    </div>
    <div class="custom-panel-header">
      <a href="" ng-click="closeDeviceEvent()" class="right icon-button-header white"><i class="ion-ios-arrow-back"></i></a>
      <h1>Add Device To Event</h1>
    </div>
  </div>
  <div class="panel-body body-green-1">
    <div class="row">
      <div class="col-md-12">
        <h2>Device 001</h2>
        <p>Waiting</p>
        <h2>Event</h2>
        <p>
          <select><option value="123">Abcd</option></select>
          <a href="" ng-click="addEventPage()"><span class="glyphicon glyphicon-plus right"></span></a>
        </p>
        <h3>Event Code </h3>
        <table class="table">
          <thead>
            <tr>
              <th class="align-left">Start Time</th>
              <th class="table-arr"></th>
              <th class="align-right">End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">28 July 2016</td>
              <td></td>
              <td class="align-right">28 July 2016</td>
            </tr>
            <tr>
              <td class="align-left">5:00 PM</td>
              <td>-</td>
              <td class="align-right">7:00 PM</td>
            </tr>
          </tbody>
        </table>
        <a href="" class="right icon-button"><i class="ion-checkmark-circled"></i></a>
      </div>
    </div>
  </div>
</div>