<span us-spinner loading></span>

<div class="panel full-invisible tree-panel" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
    </div>
    <div class="custom-panel-header">
      <a href="" ng-click="closeDeviceEvent()" class="right icon-button-header white"><i class="ion-ios-arrow-back"></i></a>
      <h1>Add Device To Event</h1>
    </div>
  </div>
  <div class="panel-body body-green-1">
    <div class="row">
      <div class="col-md-12">
        <h2>Device {{currentDevice.DeviceID}}</h2>
        <p>{{currentDevice.Status}}</p>
        <h2>Event</h2>
        <p>
          <select ng-options="option.EventName for option in data.eventList track by option.ID"
      ng-model="currentEvent" ng-change="onOptionChange()">
            </select>
          <a href="" ng-click="addEventPage()"><span class="glyphicon glyphicon-plus right"></span></a>
        </p>
        <h3>{{currentEvent.EventCode}}</h3>
        <table class="table">
          <thead>
            <tr>
              <th class="align-left">Start Time</th>
              <th class="table-arr"></th>
              <th class="align-right">End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">{{currentEvent.StartDateTime | date:'d MMM yyyy'}}</td>
              <td></td>
              <td class="align-right">{{currentEvent.EndDateTime | date:'d MMM yyyy'}}</td>
            </tr>
            <tr>
              <td class="align-left">{{currentEvent.StartDateTime  | date:'h:mm a'}}</td>
              <td>-</td>
              <td class="align-right">{{currentEvent.EndDateTime  | date:'h:mm a'}}</td>
            </tr>
          </tbody>
        </table>
        <a href="" class="right icon-button" ng-click="addToEvent()"><i class="ion-checkmark-circled"></i></a>
      </div>
    </div>
  </div>
</div>