<span us-spinner loading></span>

<div class="panel full-invisible with-scroll tree-panel peeche" zoom-in>
  <div class="{{theme.color}}-1">
    <div class="panel-options">
      <!--<a href="" class="white" ng-click="openEventDevices()"><span class="glyphicon glyphicon-facetime-video"></span> Devices</a>-->
      <a href="" class="white right" ng-click="openStats()"><span class="glyphicon glyphicon-stats"></span>  Statistics</a>
    </div>
    <a href="" ng-click="closeEventDetails()" class="right icon-button-header white"><i class="ion-ios-arrow-back"></i></a>
    <div class="custom-panel-header">
      <h1>
        {{session.SessionName}} 
        <!--<a href="" ng-click="editEvent()"><span class="white glyphicon glyphicon-pencil"></span></a> -->
         </h1>

    </div>
  </div>


  <div class="panel-body body-green-1">
    <div class="row">
      <div class="col-md-12">
        <a href="" ng-click="editEvent()" class=""><span class="right bgblue glyphicon glyphicon-pencil"></span></a>
        <h2>{{session.SessionName}}</h2>
        <table class="table">
          <thead>
            <tr>
              <th class="align-left">Time</th>
              <th class="table-arr"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">{{session.DateTime | date:'d MMM yyyy'}}</td>
              <td></td>
              <!--<td class="align-right">{{endDate | date:'d MMM yyyy'}}</td>-->
            </tr>
            <!--<tr>
              <td class="align-left">{{startDate | date:'h:mm a'}}</td>
              <td>-</td>
              <td class="align-right">{{endDate | date:'h:mm a'}}</td>
            </tr>-->
          </tbody>
        </table>
        <div class="alert bg-{{statusBox}}" style="text-align:center">
          <strong>{{status}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>