 <div class="col-md-6">
   
    <div ba-panel ba-panel-title="Event Create" ba-panel-class="with-scroll tree-panel">
      <div class="row">
        <div class="col-sm-4">
          <div class="control-side text-center">
            <div>
              <button class="btn btn-primary" ng-click="addNewNode()">Add</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="RemoveEventCreate()">Refresh</button>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" tree-events="ready:readyCB"></div>
        </div>
      </div>
    </div>
  </div>